@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body
{     
    margin: 0;  
    padding: 0;
    box-sizing: border-box;                                                                                                
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #f15;
    color: #e7e7e7;
}
h2{
    text-align: center;
    color: #fff724;
}
button{
   position: relative;
   left: 24%;
}


#menu body,ul
{
    margin: 0px;
    padding: 0px;
}
a{
    color: #fff;
    text-decoration: none;
}
#menu a:hover
{
    color:#f15;
}
#logo
{
    font-size: 1.5rem;
font-weight: bold;
}
#header
{
    color: #fff;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#menu
{
    color: #fff;
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a
{
    display: block;
    padding: .5rem;

}
#btn-mobile{
    display: none;
}



/*banner*/
.banner{
  
    width: 100%;
    height: 62.2ch;
    background: url(img/banerpc.gif);
  
   
}
/*conteudo do banner*/
.intro{
    color: #fff;
    text-align: center;

}
.intro h1{
    font-size: 100px;
}
.intro p{
   color:  #fff724;
    position: relative;
    margin-top: -5ch;
    font-size: 30px;
}

/*poemas de amor */
#amor{
    display: flex;
    
    background: #002;
    width: 100%;
    height: 68ch;
}
.poema{
  position: inherit;
  margin: 2ch 3ch;
  line-height:1.2;
  background-color: rgba(25,2,47,0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /*background: #f15;*/
  width: 33ch;
  height: auto;
  border-radius: 10px;
  transition: 0.8s;
  
}
.poema img{
    width: 100%;
    height: 15ch;
    border-radius:10px ;
}
.poema h4{
    position: relative;
    
}
.poema p{
    position: relative;
   
}
.poema button{
    color: #fff;
    background: none;
    position: relative;
    left: 4ch;
    
    width: 20ch;
    height:5ch;
    border-radius: 30px;
    border: solid 2px #132743;
    transition: 0.5s;
    
}
.poema button:hover{
    background: #132743;
    border: none;

}

/* EFEITO DE VIARADA*/


#card{
    position: relative;
    top: 1ch;
    left: 15%;
    transform-style: preserve-3d;
    justify-content: center;
    display: flex;
    transition: all 0.5s;
}

#cardB{
    position: relative;
    top: 1ch;
   left:48%;
    transform-style: preserve-3d;
    justify-content: center;
    display: flex;
    transition: all 0.5s;
}
#cardC{
    position: relative;
    top: 1ch;
   left:80%;
    
    transform-style: preserve-3d;
    justify-content: center;
    display: flex;
    transition: all 0.5s;
}


.face{
    height: 65ch;
    width: 37ch;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    border: 1px solid rgba(255,255, 255,0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position:absolute;
}
#front{
    
    transform: rotateY(180deg);
}
#bak{
    
    display: block;
    transition: 0.8s;
    background:none;   
}
#bak img{
    position: relative;
    top: 2ch;
    left: 0ch;
}
#bak p{
    position: relative;
    top: 1ch;
}

/*#bak:hover{
    top:-2ch ;
    background: #ff0157;
    height: 29ch;
    width: 19ch;
}*/
.flip{
    transform: rotateY(180deg);

}




.poemaA p{
    text-align:left;
}
.poemasA img{
   
    height: 40ch;
}
#b {
    
    position: relative;
    color: #fff;
    background: none;
    border-radius: 20px;
    border: solid 1px #fff ;
    font-size: 20px;  
     background: none;
    transition: 0.5s;
    animation: butoo  1.5s infinite;
    animation-direction: alternate-reverse;
    
   
}
#b:hover{
    color: #fff;
    background: #BF1363;
    border: none;
}

#autor{
    width: 5ch;
    height: 5ch;
    border:none;
    border-radius: 50%;
}
#nome{
    position: relative;
    top: -2ch;
    left: 1ch;
}
#autor{
    position: relative;
    left: -0.5ch;
    width: auto;
    
}
#autor button{
    position: relative;
    left: 5ch;

}

/*--------------poemas sobre a vida--------------------*/
#vida{

    
    display: flex;
    width: 100%;
    height: 68ch;
    background: #001;

}

#cardD{
    position: relative;
    top: 1ch;
   left:15%;
    
    transform-style: preserve-3d;
    justify-content: center;
    display: flex;
    transition: all 0.5s;
}

#cardE{
    position: relative;
    top: 1ch;
   left:48%;
    
    transform-style: preserve-3d;
    justify-content: center;
    display: flex;
    transition: all 0.5s;
}
#cardF{
    position: relative;
    top: 1ch;
   left:80%;
    
    transform-style: preserve-3d;
    justify-content: center;
    display: flex;
    transition: all 0.5s;
}








/*poema 2*/
#poemasB{
  background: url("https://64.media.tumblr.com/c75b292627784f7cce3085aa7361812d/d053a00611e2fb73-e0/s500x750/a42fc954e67461f1fb9a0f9c0610995c998eb0f8.gifv");
  background-size: cover;
}
#poemaB{
    left: -1ch;
    top: 2ch;
    width: 95%;
    height: 80%;
    backdrop-filter: blur(25px);
    border-radius: px;
    border: 1px solid rgba(255,255, 255,0.5);
}
/*-------------------------Roda ṕe-------------------------------*/
.copyrightText
{
    
    background: #fff;
    padding: 8px 40px;
    border-top:1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p
{
    color: #333;

}
.copyrightText a
{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
    
}



@media (max-width:600px)
{
    #btn-mobile
    {
        position: relative;
        margin-right: 2ch;
        display: block;
        color: #fff;
    }
    #menu
    {
        display: block;
        
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
       
        visibility: hidden;
        overflow-y: hidden;

    } 
    #nav.active #menu
    {
       
        z-index: 1000px;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a 
    {
        color: #001;
        padding: 1rem 0;
        margin:0 1rem;
        border-bottom: 2px solid rgba(0, 0,0, .05);
    }  
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger
    {
        display: block;
      width: 20px;
      border-top:2px solid ;
    }
    #hamburger::after , #hamburger::before
    {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background:currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger
    {
       border-top-color: transparent;
    }
    #nav.active #hamburger::before
    {
       transform: rotate(135deg);
    }
    #nav.active #hamburger::after
    {
        transform: rotate(-135deg);
        top: -7px;

    }
    .banner{
            background:url(img/banerpc.gif);
        width: 100%;
        height: 63ch;
      
       
    }
    .intro h1{
        font-size: 95px;
    }
     /*---------------------------------POEMAS SOBRE AMRO---------------------------------------------------------*/
    #amor{
        display: block;
        flex-direction:column;
        height: 210ch;
        background: url("https://www.blogderocha.com.br/wp-content/uploads/2020/04/c13b438eb7484bc03a3361f1b3ce5c21.gif");
        
    }
    #card{
        position: relative;
        left: 0ch;
    }
    #cardB{
        position: relative;
        top: 70ch;
        left: 0ch;
    }
    #cardC{
        position: relative;
        top: 140ch;
        left: 0ch;
    }
    .face{
        height: 65ch;
        width: 35ch;
    }





    .poemasA{
        display: block;
        height: auto;
        text-align: center;
    }
    .poemaA{
        height: auto;
        flex-direction:column;
    }
    .poemasA img{
        position: relative;
        left: -3ch;
        width: 100%;
        height: 40ch;
    }
 
    #coracao{
        position: relative;
        left: -1ch;
        width: 80%;
        height: 40ch;
        animation: voa 2s infinite;
        animation-direction: alternate-reverse;
    }

    /*---------------------------------------POEMAS SOBRE A VIDA ----------------------------------------*/
    #vida{

        display: block;
        flex-direction:column;
        height: 210ch;
        background: url("https://www.blogderocha.com.br/wp-content/uploads/2020/04/c13b438eb7484bc03a3361f1b3ce5c21.gif");
    
    }
    
    #cardD{
        position: relative;
        left: 0ch;
        
      
    }
    
    #cardE{
        position: relative;
        top: 70ch;
        left: 0ch;
    }
    #cardF{
        position: relative;
        top: 140ch;
        left: 0ch;
    }
    #autor{
        position: relative;
        left: -4ch;
        width: auto;
        
    }
    #autor button{
        position: relative;
        left: 5ch;

    }
   /* .copyrightText{
    position: absolute;
    top: 987%;
    background: #fff;
    padding: 8px 40px;
    border-top:1px solid rgba(0,0,0,0.1);

   }*/
   #poemasB{
    background: url("https://64.media.tumblr.com/c75b292627784f7cce3085aa7361812d/d053a00611e2fb73-e0/s500x750/a42fc954e67461f1fb9a0f9c0610995c998eb0f8.gifv");
    background-size: cover;
    height: 123.5ch;
  }







}


/*parte anioma do site*/
@keyframes voa{
    0%{
        transform: translateY(-30px);
        width: 82%;
    }
    
    100%{
        transform: translateY(calc(100vw - 360px));
        width: 90%;
    }
              
}

@keyframes butoo{
    0%{
        
        background: none;
    }
    
    100%{
        background: #f15;
    }
              
}

